body {
	background: #698a8f;
}
h1 {
	color: #801c0d;
}

h2 {
	color: #9f4b39;
}

p {
	color: #161203;
	font-family: 'Oswald', sans-serif;
}

.menu {
	float: left;
	margin-left: 150px;
	width: 250px;
	margin-top: 30px;
	position: fixed;
}

.menu img {
	width: 100%;
}

.menu a{
	color: inherit;
}

.menu-presentacion{
	background: #006762;
	margin-top: 5px;
	margin-bottom: 3px;
}

.menu-formacion{
	background: #006762;
	margin-bottom: 3px;
}

.menu-experiencia {
	background: #006762;
	margin-bottom: 3px;
}
.menu-portfolio{
	background: #006762;
}

.portfolio img {
	width: 15%;
	height: 15%;
}

.quien_soy{
	background: white;
	margin-top: 20px;
	margin-left: 450px;
	margin-right: 40%;
	margin-bottom: 20px;
	padding: 20px;
	width: 40%;
}
.formacion, .experiencia, .portfolio{
	background: white;
	margin-left: 450px;
	margin-right: 40%;
	margin-bottom: 20px;
	padding: 20px;
	width: 40%;
}